%h1 People

= filter_list(people_path(:format => 'js')) do
  - if current_user
    .controls
      = button_to "Edit profile", edit_person_path(current_user.github),
        :method => :get

#people.list= render :partial => "people"