- content_for(:section_name) { link_to "Updates", articles_path }
- content_for :section_controls do
  = link_to "Mark all as read", read_all_path("articles"), :class => "clean-gray"
  - # link_to "Post an update", new_article_path, :class => "clean-gray"