.user_info
  = link_to article.author.icon(profile_size), person_path(article.author)
  %p
    by
    = link_to article.author.name, person_path(article.author)
  %p
    = l article.created_at.to_date, :format => :long
