- content_for(:title) { "Updates" }

- content_for :header_bottom do
  = auto_discovery_link_tag(:rss, articles_url(:format => "rss"))

= render :partial => "header"

#articles= render :partial => "article", :collection => @articles

= will_paginate @articles
