#flash
  - flash.each do |flashtype, message|
    %div{:class => "flash #{flashtype}", :id => "flash-#{flashtype}"}
      = message
  - unless flash.empty?
    :javascript
      setTimeout("$('div.flash').slideUp()", 2500);