#flash
  - flash.each do |flashtype, message|
    %div{:class => "flash #{flashtype}", :id => "flash-#{flashtype}"}
      = message
      = link_to "hide", "#hide", :class => "hide"
  - unless flash.empty?
    :javascript
      Flash.init();