%footer
  = link_to "About Community
  ", about_path
  &bull;
  = link_to "A Mendicant University Project", "http://mendicantuniversity.org"
  &bull;
  = link_to "Fork me on GitHub", 'https://github.com/mendicant-university/community#readme'