#flash
  display: inline-block
  position: absolute
  top: 2px

  .flash
    display: inline-block
    padding: 2px 8px
    +border-radius(3px)
    margin-right: 1em
    border: 1px solid #2A2D3D
    font-size: 0.9em
    +single-box-shadow(#444, 0, 0, 2px, $default-box-shadow-spread, inset)

    &.alert
      background-color: #FDFAF2
      color: #B3BC51
    &.notice
      background-color: #8c8
      color: #252
    &.error
      background-color: #c88
      color: #522
    a.hide
      display: inline-block
      float: right
      color: #333