#flash
  display: inline-block

  .flash
    display: inline-block
    padding: 0 10px
    +border-radius(3px)
    margin: -1px 0
    margin-right: 1em
    border: 1px solid #2A2D3D
    font-size: 0.9em

    &.alert
      background-color: #FDFAF2
      color: #B3BC51
    &.notice
      background-color: #8c8
      color: #252
    &.error
      background-color: #c88
      color: #522
    a.hide
      display: inline-block
      float: right
      color: #333