@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('/fonts/altehaasgroteskregular-webfont.eot');
    src: url('/fonts/altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/altehaasgroteskregular-webfont.woff') format('woff'),
         url('/fonts/altehaasgroteskregular-webfont.ttf') format('truetype'),
         url('/fonts/altehaasgroteskregular-webfont.svg#AlteHaasGroteskRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}