div.list
  a
    font-size: 1.25em
    color: #333
    text-decoration: none
    display: block
    padding: 0.25em
    margin-bottom: 0.25em

    &:hover
      background-color: #f9f9f9
      span.description
        color: inherit

    span.description
      color: #888

    img
      height: 32px
      width: 32px
      border: none
      margin-right: 0.5em
      vertical-align: -30%