nav
  margin: 1em 0
  padding: 0.5em 1em
  background: #3A3D50 asset-url("nav.png", image) top left repeat-x
  color: #fff
  +single-box-shadow(#333, 0, 0, 5px)
  a, a:visited
    color: #f9f9f9
    text-decoration: none
    margin-right: 1em
    &:hover
      color: #C9CCE3

  span.nav
    float: right
    span#account
      border-left: 2px solid #71769E
      padding-left: 1em