nav
  position: relative
  padding: 0.5em 1em
  background-color: #f9f9f9
  +border-radius(0.5em)
  font-size: 1.1em
  +single-box-shadow(#999, 0, 0, 2px, 0, true)

  a#logo
    position: absolute
    top: -20px
    left: 427px
    border: none
    text-decoration: none

  a
    display: inline-block
    margin-right: 1em

  span#account
    float: right
    a
      margin-right: 0
      margin-left: 1em