#profile
  .header
    position: relative
    height: 111px
    .avatar
      position: absolute
      top: 0px
      left: 0px
      background-color: #eee
      padding: 5px
      border: 1px solid #3A3D50
      height: 100px
      width: 100px
    .name
      position: absolute
      top: 0px
      left: 140px
      font-size: 48px
      font-family: $display-font
    .social
      position: absolute
      bottom: 0px
      left: 140px
      a
        margin-right: 0.5em

  .description
    margin: 1em 0

form
  +blueprint-form