#profile
  h1
    font-size: 48px
    img
      vertical-align: -20%
      margin-right: 0.25em
  .social
    margin: 1em 0
    a
      margin-right: 0.5em

  h3
    margin-top: 2em
  .list
    margin-bottom: 2em
    margin-left: 1em

form
  +blueprint-form