//= require_self
//= require_tree '../../../vendor/assets/stylesheets'

$blueprint-font-family: "helvetica, arial, freesans, clean, sans-serif"

@import compass/reset
@import blueprint/typography
@import blueprint/form
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/utilities/general/clearfix
@import compass/layout/sticky-footer

@import partials/flash
@import partials/navigation
@import partials/breadcrumbs
@import partials/list
@import partials/profile
@import partials/projects
@import partials/pagination

+blueprint-typography

body
  font-size: 100%

#container
  width: 970px
  margin:  0 auto
  padding: 2em 0

.clear
  +clearfix
  clear: both

a.warn
  color: #990000
  &:hover
    color: red

.control-bar
  padding: 0.5em
  background-color: #eee
  margin: 1em 0
  a, input, button
    margin-right: 1.5em

@include sticky-footer(2em, "#root", "#root-footer", "footer")

footer
  text-align: center
  color: #555