.nested-fields
  = f.select :user_id, User.order("name").map {|u| [u.name, u.id] }
  = f.check_box :approved
  = f.label :approved, "Approved", :class => "checkbox"

  = link_to_remove_association "Remove", f, :class => "warn clean-gray"