- content_for :section_name do
  = link_to "Activities", articles_path
  &raquo; New activity

= render 'form'
.control-bar
  = submit_link 'Post', 'new_activity'
  or
  = link_to "get me out of here", activities_path